.team {
  position: relative;
  min-height: 900px;
  width: 100%;
  clear: both;

  .letter-grid {
    height: 100%;
    padding-top: 70px;
    padding-left: 25px;
    left: 0;
    overflow: hidden;
    // position: absolute;
    text-align: center;
    clear: both;
    top: 0;
    width: 100%;
    z-index: -1;

    .employee_letter {
      span {
        background-size: cover;
        background-position: center;
      }
    }

    div {
      background-color: transparent;
      color: rgba(0, 0, 0, 0.25);
      display: block;
      float: left;
      font-size: 30px;
      // opacity: 0;
      margin: 10px;
      text-transform: uppercase;
      // transition: background-color 0.75s, color 0.75s, opacity 0.75s, transform 0.5s;
      user-select: none;
      // visibility: hidden;
      width: 50px;
      height: 50px;
      position: relative;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        opacity: 0;
        transition: all .4s;
        position: absolute;
        top: 0;
        left: 0;

        &.active {
          opacity: 1;
        }
      }
    

      &:hover {
        // background-color: #FBBC47;
        color: #FBBC47;
        cursor: default;
      }

      // &:nth-child(5n + 1) {
      //   color: black;
      //   font-weight: bold;
      //   transform: rotate(45deg);
      // }

      &:nth-child(10n + 1) {
        transform: rotate(-45deg);
      }

      &:nth-child(5n + 1) {
        &:hover {
          color: white;
        }
      }
    }
  }

  .letter-grid.js-show-letters {
    div {
      opacity: 1;
      visibility: visible;
    }
    .cityLetter {
      color: black;
      font-weight: bold;
    }
  }

  // .letters {
  //   // position: absolute;
  //   padding: 100px 50px 50px;
  //   height: 100vh;
  //   max-height: 100vh;
  //   min-width: 2000px;
  //   width: auto;
  //   // display: flex;
  //   // flex-wrap: wrap;
  //   // justify-content: space-evenly;

  //   .letter {
  //     width: 200px;
  //     float: left;
  //     height: 200px;
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     text-align: center;
  //     position: relative;
  //     padding: 10px;

  //     img {
  //       position: absolute;
  //       z-index: -1;
  //       padding: 10px;
  //       top: 0;
  //       left: 0;
  //       height: 100%;
  //       width: 100%;
  //       -o-object-fit: cover;
  //       object-fit: cover;
  //       -o-object-position: center;
  //       object-position: center;
  //     }

  //     .letter_char {
  //       font-size: 7rem;
  //     }
  //   }
  // }
}