.about {
  position: relative;
  height: 100vh;
  width: 100%;

  .team {
    position: relative;
    height: 100%;
    width: 100%;

    .letters {
      position: absolute;
      top: 50px;
      left: 0;
      height: auto;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-evenly;

      .letter {
        width: 10%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .letter_char {
          font-size: 7rem;
        }
      }
    }
  }
}