.project_preview {
  margin: 20px 0;
  float: left;
  width: 50%;

  .hero_image {
    max-height: 452px;
    height: 100%;
    padding: 20px;

    img {
      object-fit: cover;
      max-height: 330px;
      height: 100%;
      width: 100%;
    }
  }
  .preview_content {
    padding: 20px;

    h2 {
      margin: 0;
    }
  }

  footer {
    margin-top: 30px;

    p {
      .architect, .location {
        font-weight: bold;
        letter-spacing: 2px;
        margin: 0;
      }
    }
  }
}

.project_preview:first-of-type {
  float: none;
  display: flex;
  width: 100%;
  .hero_image, .preview_content {
    width: 50%;
    padding: 20px;
  }
}