/* ====================================================================================================================================================

   Binyan's custom styles

   ==================================================================================================================================================== */

@import './scss/_variables.scss';
@import './scss/global.scss';
@import './scss/partials/project_preview.scss';

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ==========================================================================

   Fonts
   
   ========================================================================== */

//  Extend/Inheritance

%line-letter-extension {
  line-height: normal;
  letter-spacing: 2px;
}

%font-variation-light {
  line-height: normal;
  letter-spacing: 2px;
  font-family: 'futura-pt', sans-serif;
  font-style: normal;
  font-weight: 300;
}
%font-variation-book {
  line-height: normal;
  letter-spacing: 2px;
  font-family: 'futura-pt', sans-serif;
  font-style: normal;
  font-weight: 400;
}
%font-variation-bold {
  line-height: normal;
  letter-spacing: 2px;
  font-family: 'futura-pt', sans-serif;
  font-style: normal;
  font-weight: 700;
}

//  @extend %font-variation-light;

$site-font: 'futura-pt';
// $site-font-bold: 'futura-pt-bold';

body {
  @extend %font-variation-light;
}

h1,
h2,
h3 {
  @extend %font-variation-light;
}
h1 {
  font-size: 5em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 1.5em;
}
p {
}
ul {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
  }
}
a {
  color: inherit;
  text-decoration: none;
}
/* ==========================================================================
   Header
   ========================================================================== */
.headroom-wrapper {
  position: absolute;
  width: 100%;

  .headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    .nav {
      display: flex;
      margin: 0;
      
      background-image:
      linear-gradient(
        to bottom, 
        rgba(255,255,255, 0.8), rgba(255,255,255, 0)
      );
      justify-content: space-evenly;
      padding: 20px 0;

      .logo_item {
        flex-basis: 40%;

        .logo {
          img {
            display: block;
            margin: auto;
          }
        }
      }

      li {
        color: #333;
        letter-spacing: 3px;
        font-size: 0.8rem;
        padding-top: 10px;
        text-transform: uppercase;

        a {
        }
      }
    }
  }
  .headroom--unfixed {
    position: relative;
    transform: translateY(0);
  }
  .headroom--scrolled {
    transition: transform 200ms ease-in-out, background-color 200ms;
  }
  .headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
  }
  .headroom--pinned {
    position: fixed;
    transform: translateY(0%);
    background-color: rgba(255, 255, 255, 0.6);
  }
}
/* ==========================================================================
   Footer
   ========================================================================== */
.Footer {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  padding: 20px;

  .footer_section {
    .copyright {
      color: #999999;
      font-size: 0.8rem;
      letter-spacing: 1px;
    }
    ul {
      li {
        margin: 0 15px;
        letter-spacing: 1px;
      }
    }
    ul.social {
      li {
        margin: 0 15px;
        letter-spacing a,
        i {
          color: #999999;
        }
      }
    }
  }
}

/* ==========================================================================
   App
   ========================================================================== */

.App {
  // padding-top: 50px;
}

/* ==========================================================================
   Carousel
   ========================================================================== */

.carousel {
  .slide {
    height: 100vh;
    width: 100%;
    background-color: #faaca8;
    background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);

    img {
      object-fit: cover;
      object-fit: center;
      height: 100%;
      width: 100%;
    }
  }
}
