.Gallery {
  padding-top: 80px;

  .gallery_menu {
    width: 100%;
    padding: 20px;
    ul {
      width: 100%;
      display: flex;
      justify-content: center;

      li {
        margin: 0 20px; 
        line-height: normal;
        letter-spacing: 2px;
        font-family: 'futura-pt', sans-serif;
        font-style: normal;
        font-weight: 400;
      }

    }
  }
  .gallery_photo_gallery {
    height: 100%;
    width: 100%;
    position: relative;
    padding-bottom: 100px;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px!important;
    -moz-column-count: 3;
    -moz-column-gap: 0px!important;
    column-count: 3;
    column-gap: 0px!important;

    .grid_item {
      position: relative;
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: opacity .4s;
        background-color: rgba(0,0,0,.6);
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        color: white;
        h4, h5 {
          line-height: normal;
          letter-spacing: 2px;
          font-family: 'futura-pt', sans-serif;
          font-style: normal;
          font-weight: 300;
          margin: auto; 
          text-align: center;     
        }
        &:hover {
          opacity: 1;
        }
      }
      .gallery_video {
        // height
        video {
          height: 100%!important;
          width: 100%!important;
        }
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}